.movies .movie {
  width: 45%;
  background-color: grey;
  margin-bottom: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 300;
  padding: 20px;
  border-radius: 6px;
  color: #2c2c2c;
  box-shadow: 10px 10px 2px 1px rgba(193, 193, 199, 0.2);
}

.movie img {
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 5px 5px 2px 1px rgba(18, 18, 19, 0.2);
}
.movie .movie__title,
.movie .movie__year {
  margin: 0;
  font-weight: 500;
  margin-bottom: 5px;
}

.movie .movie__title {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
}

.movie .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 7px 0px;
}
.movie__genres li {
  margin-right: 10px;
  font-size: 14px;
}
